body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Aqua background color */
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color:  #ffc0cb; /* White container background color */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle depth effect */
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.appointment-form label {
    display: block;
    margin-bottom: 10px;
}

.appointment-form input[type="date"],
.appointment-form select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.appointment-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.appointment-form button:hover {
    background-color: #45a049;
}
