body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Aqua background color */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffc0cb; /* Pink container background color */
    padding: 20px;
    border-radius: 10px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.contact-info {
    margin-bottom: 30px;
}

.contact-info h2 {
    color: #333;
}

.contact-info p {
    color: #666;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    color: #666;
}

.contact-form h3 {
    color: #333;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #45a049;
}
