body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Aqua background color */
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background-color: #ffc0cb; /* Pink container background color */
    padding: 20px;
    border-radius: 10px;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 100px;
}

.form-container {
    text-align: center;
}

form input {
    width: 100%;
    padding: 5px;
    height: 25px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

p {
    margin-top: 20px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
