body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; /* Aqua background color */
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffc0cb; /* Pink container background color */
    padding: 20px;
    border-radius: 10px;
}

.logo {
    text-align: center;
}

.logo img {
    width: 100px;
}

.order-info {
    text-align: center;
}

.order-info h2 {
    color: #333;
}

.order-info p {
    color: #666;
    margin-bottom: 10px;
}

.telephone-number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}
